 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/createpost" routerLinkActive="active">CreatePost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services"routerLinkActive="active" >services</a>
          </li> 
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Contact-Us</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/contact-us/menu" routerLinkActive="active">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li> 
           <li class="nav-item">
            <a class="nav-link" routerLink="/menu"   routerLinkActive="active" >Menu</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <router-outlet></router-outlet >
   <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registration">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Sign In</a>
          </li>

          
        </ul>
      </div>
    </div>
  </nav> -->
    
    
          <!-- <router-outlet></router-outlet> -->
          <h2>MY ROUTE</h2>